body {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.messageTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.section1 {
  display: flex;
  justify-content: center;
}

.section1 img {
  width: 500px;
}

.section2 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.section2 .btn button {
  padding: 20px;
  font-size: 50px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(244, 191, 19);
}
